.wrapper {
  position: relative;
  display: inline-block;
  width: 200px;
}
.selected {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 13px 20px;
  gap: 8px;
  border: 1px solid var(--Pink3);
  border-radius: 100px;
  cursor: pointer;
}
.selected:hover {
  background-color: var(--Pink3);
  color: white;
}
.selected:hover svg path {
  stroke: white;
}

.selectedOpen {
  background: #a459d1;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 20px;
  gap: 8px;
  justify-content: space-between;
  border: 1px solid #a459d1;
  border-radius: 100px;
  cursor: pointer;
}
.selectedOpen svg path {
  stroke: white;
}
.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  white-space: nowrap;
}
.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 5;
  background: #ffffff;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
}
.option {
  cursor: pointer;
  padding: 10px 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #4a4a4a;
}
.option:hover {
  cursor: pointer;
  padding: 10px 16px;

  background-color: #976eafa4;
  color: white;
}
.activeOption {
  cursor: pointer;
  padding: 10px 16px;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: white;
  background-color: var(--Pink3);
}
@media (max-width: 1000px) {
  .wrapper {
    display: none;
  }
}
