.wrapper {
  margin-bottom: 80px;
  margin-top: 93px;
}

@media (max-width: 480px) {
  .wrapper {
    margin-top: 207px;
    flex-grow: 1;
    padding: 0 30px;
  }
}
@media (max-width: 1350px) {
  .wrapper {
    padding: 0 40px;
  }
}
@media (max-width: 480px) {
  .wrapper {
    padding: 0 30px;
  }
}

@media (max-width: 390px) {
  .wrapper {
    padding: 0 20px;
  }
}