.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px 0;
  align-items: center;
  background-color: var(--titleBackground);
}
.title {
  font-weight: 500;
  font-size: 64px;
  line-height: 130%;
  color: #4a4a4a;
  text-align: center;
}
.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #828282;
}
