.imageBackground {
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* max-width: 440px; */
  width: 100%;
  height: auto;
}
.image {
  border-radius: 16px;
  border: 1px solid #c8c8c8;
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: auto;
  max-width: 440px;
  max-height: 282px;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.text h3 {
  color: var(--grey-light);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.text p {
  color: #c8c8c8;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
}
.container:hover .text h3,
.text p {
  color: #976eaf;
}

@media (max-width: 1000px) {
  .imageBackground {
  }
  .image {
  }
  .text {
  }
  .text p {
  }
}
@media (max-width: 800px) {
  .imageBackground {
  }
  .image {
  }
  .text p {
    font-size: 20px;
  }
  .image {
    max-width: 334px;
    max-height: 224px;
  }
}
@media (max-width: 800px) {
  .image {
    max-width: none;
    max-height: 300px;
  }
}
@media (max-width: 500px) {
  .text p {
    font-size: 24px;
  }
  .image {
    max-width: none;
    height: auto;
  }
}
