.footer {
  width: 100%;
  padding: 50px 0;
  background-color: #703d8f;
  border-radius: 16px 16px 0px 0px;
  align-self: flex-end;
}
.wrapper {
  display: flex;
  max-width: 1360px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.title {
  color: #c089e1;
  font-size: 64px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  max-width: 478px;
}
.navigationWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.firstElement {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.navigationLink {
  color: #fff;
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-decoration: none;
}
.secondElement {
}
.navigationText {
  color: #c089e1;
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
@media (max-width: 1350px) {
  .title {
    font-size: 50px;
  }
  .wrapper {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    gap: 40px;
    align-items: start;
    padding: 50px 40px;
  }
  .firstElement {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
  .navigationWrapper {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 36px;
  }
  .wrapper {
    padding: 50px 30px;
  }
}
