.image {
  object-fit: cover;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 3px 6px 0px rgba(0, 0, 0, 0.10), 0px 12px 12px 0px rgba(0, 0, 0, 0.09), 0px 26px 16px 0px rgba(0, 0, 0, 0.05), 0px 46px 19px 0px rgba(0, 0, 0, 0.01), 0px 73px 20px 0px rgba(0, 0, 0, 0.00);

}
.container {
  display: flex;
  align-items: center;
}
.imageBackground {
  position: relative;
  overflow: hidden;
  width: 325px;
  height: 145px;
  border-radius: 16px;
  -webkit-box-shadow: 4px 4px 8px -1px rgba(161, 162, 163, 0.2);
  -moz-box-shadow: 4px 4px 8px -1px rgba(161, 162, 163, 0.2);
  box-shadow: 4px 4px 8px -1px rgba(161, 162, 163, 0.2);
}
.imageBackground::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: rgba(75, 27, 104, 0.6);

  opacity: 1;
  z-index: 1;
  border-radius: 16px;
}
.imageBackground:hover {
  margin-top: -10px;
}
.text {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  top: 45%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 360px) {
  .imageBackground {
    max-width: 300px !important;
  }
}
