@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");
:root {
  --backColor: #fffff3;
  --fontColorPink: #c089e1;
  --fontColorGray: #4a4a4a;
  --titleBackground: rgba(192, 137, 225, 0.06);
  --white: #ffffff;
  --fontColorPink2: #c089e1;
  --Pink3: #976eaf;
  --serchArea: rgba(164, 89, 209, 0.2);
}
body {
  background-color: var(--backColor);
  overflow-x: hidden;
}
* {
  font-family: Inter;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
