.wrapper {
  max-width: 1360px;
  margin: 0 auto;
  padding-top: 80px;
}

.wrapperRelative {
  position: relative;
  height: 355px;
}
.wrapperAbsolute {
  position: absolute;
  z-index: 2;
  width: 100vw;
  overflow: hidden;
}
