.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 20px;
  margin-top: 20px;
}
.wrapper {
  margin-top: 60px;
}
.title {
  font-size: 64px;
  font-family: Inter;
  font-weight: 500;
  line-height: 130%;
  color: var(--fontColorGray);
}
.paginationButton {
  width: 100%;
  height: 53px;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid var(--Pink3);
  margin-top: 50px;
  cursor: pointer;
  color: var(--fontColorGray);
  font-size: 18px;
  font-family: Inter;
  line-height: 140%;
}
.paginationButton:hover {
}
@media (max-width: 1000px) {
  .title {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 50px;
  }
}
@media (max-width: 550px) {
  .title {
    font-size: 28px;
  }
  .list {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 360px) {
  .title {
    font-size: 28px;
  }
}
